{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de mariage de Xavier et Aurélie{% endblock %}

{% block body %}
    <h1>Votre réponse</h1>

    {{ include('_enConstruction.html.twig') }}
    
	<div style="height: 250px;"></div>
{% endblock %}
