html, body {
	background-color: #7d387a;
}

hr {
	border-color: #7fc040;
}

a {
	color: #6ca733;
}

a:hover, a:focus, a:active, a:visited {
	color: #5d922b;
}

body > div.container {
	background-color: #fff;
	background-image: url('../images/lavande-part-1.png'), url('../images/lavande-part-2.png');
	background-repeat: no-repeat;
	background-size: 150px;background-size: 150px, 80px;
	background-position: top left, top right;
	padding-bottom: 20px;
}

header {
	background-color: #fff;
	text-align: center;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

header img {
	height: 180px;
}

header h1 {
	font-family: 'Tangerine', cursive;
	font-size: 60px;
	margin-top: 0;
}

header h2, header h3 {
	font-weight: normal;
	text-transform: uppercase;
    font-family: 'Armata', sans-serif;
    margin: 5px;
    font-size: 15px;
}

header h2 {
	color: #7fc040;
	font-size: 20px;
}

header .nav {
	border: 1px solid #7fc040;
	border-width: 1px 0px;
}

header nav.navbar a {
	color: #000;
    font-family: 'Armata', sans-serif;
}

header nav.navbar .nav li:not(.active) a:hover {
	background-color: transparent;
	color: #7fc040;
}

header nav.navbar li.active {
	background-color: #bbf089;
}
header nav.navbar li.active a, 
header nav.navbar li.active a:hover  {
	background-color: #bbf089;
	color: #015104;
}


@media (min-width: 768px){
	.navbar-nav{
		margin: 0 auto;
		display: table;
		table-layout: fixed;
		float: none;
		color: #7fc040;
	}
}  

form .vich-image img {
	max-width: 100%;
}

body > div.container > section.row h1 {
	margin-top: 0;
}


/**********************/
/*      BLOG          */
/**********************/

.article-preview {
	margin-bottom: 40px;
}

.article-preview a.article-img {
	display: block;
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.article-preview .article-infos, .full-article .article-infos {
	color: #666666;
}

.article-preview .article-infos .glyphicon-user,
.full-article .article-infos .glyphicon-user {
	margin-left: 20px;
}


.article-preview .article-preview-content {
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	padding: 10px 30px 20px 30px;
}

.full-article {
	text-align: justify;
}

.full-article #article-img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	max-width: 60%;
}


