html, body {
	background-color: #7d387a;
}

hr {
	border-color: #7fc040;
}

a {
	color: #6ca733;
}

a:hover, a:focus, a:active, a:visited {
	color: #5d922b;
}

a.btn {
	color: #fff;
}

a.btn.btn-default, .dropdown a {
	color: #333;
}

body > div.container {
	background-color: #fff;
	background-image: url('../images/lavande-part-1.png'), url('../images/lavande-part-2.png');
	background-repeat: no-repeat;
	background-size: 150px;background-size: 150px, 80px;
	background-position: top left, top right;
	padding-bottom: 20px;
}

header {
	background-color: #fff;
	text-align: center;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

header img {
	height: 180px;
}

header h1 {
	font-family: 'Tangerine', cursive;
	font-size: 60px;
	margin-top: 0;
}

header h2, header h3 {
	font-weight: normal;
	text-transform: uppercase;
    font-family: 'Armata', sans-serif;
    margin: 5px;
    font-size: 15px;
}

header h2 {
	color: #7fc040;
	font-size: 20px;
}

header .nav {
	border: 1px solid #7fc040;
	border-width: 1px 0px;
}

header nav.navbar a {
	color: #000;
    font-family: 'Armata', sans-serif;
}

header nav.navbar .nav li:not(.active) a:hover {
	background-color: transparent;
	color: #7fc040;
}

header nav.navbar li.active {
	background-color: #bbf089;
}
header nav.navbar li.active a, 
header nav.navbar li.active a:hover  {
	background-color: #bbf089;
	color: #015104;
}


@media (min-width: 768px){
	.navbar-nav{
		margin: 0 auto;
		display: table;
		table-layout: fixed;
		float: none;
		color: #7fc040;
	}
}  

form .vich-image img {
	max-width: 100%;
}

body > div.container > section.row h1 {
	margin-top: 0;
}

footer {
	text-align: center;
}

footer {
	color: #d4baee;
}

footer > * {
	display: inline-block;
	margin: 5px 15px;
}

footer a, footer a:hover, footer a:focus, footer a:visited {
	color: #eee !important;
}


/**********************/
/*    RESPONSIVE      */
/**********************/

/*
	Extra-small : @media (max-width: 767px) {
	Small 		: @media (min-width: 768px) and (max-width: 991px) {
	Medium 		: @media (min-width: 992px) and (max-width: 1199px) {
	Large 		: @media (min-width: 1200px) {
*/

@media (min-width: 768px) and (max-width: 1199px) { /* Small & Medium */
	header nav.navbar a {
		padding: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) { /* Small */
	header nav.navbar .navbar-nav li:nth-child(7) {
		margin-left: 30px;
	}
}

@media (max-width: 767px) { /* Extra-small */
	header .navbar-toggle {
		float: none;
		margin: 10px 0 0 0;
		padding: 8px 20px;
		background-color: #bbf089;
		border: 1px solid #7fc040;
	}
	header #navbar-collapse.in .navbar-nav {
		/*margin-top: 0;*/
	} 
	header #navbar-collapse.in .navbar-nav, header #navbar-collapse.collapsing .navbar-nav {
		background-color: rgb(247, 254, 241);
	} 
}


/**********************/
/*      BLOG          */
/**********************/

.article-preview {
	margin-bottom: 40px;
}

.article-preview a.article-img {
	display: block;
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: cover;
	background-position: center;
	margin-bottom: 0;
}

.article-preview .article-infos, .full-article .article-infos {
	color: #666666;
}

.article-preview .article-infos .glyphicon-user,
.full-article .article-infos .glyphicon-user {
	margin-left: 20px;
}


.article-preview .article-preview-content {
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	padding: 10px 30px 20px 30px;
	background-color: rgba(255, 255, 255, 0.5);
}

.full-article {
	text-align: justify;
}

.full-article #article-img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	max-width: 60%;
}

/**********************/
/*      CARPOOL       */
/**********************/

.postit-container {
	text-align: center;
}

.postit {
	color: #5d5d68 !important;
	line-height: 1.5;
	text-align:center;     
	width: 225px;    
	margin: 25px;    
	min-height:200px;
	max-height:200px;
	padding-top:20px;
	position:relative;   
	border:1px solid #E8E8E8;  
	/*border-top:60px solid #fdfd86;*/
	font-family: 'Gloria Hallelujah', cursive;    
	font-size:18px;
	vertical-align: top;
	border-bottom-right-radius: 60px 5px;
	display:inline-block;    
	background: #abf987; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #abf987 81%, #abf987 82%, #b1ff8e 82%, #a1cb8f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#abf987), color-stop(82%,#abf987), color-stop(82%,#b1ff8e), color-stop(100%,#a1cb8f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #abf987 81%,#abf987 82%,#b1ff8e 82%,#a1cb8f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #abf987 81%,#abf987 82%,#b1ff8e 82%,#a1cb8f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #abf987 81%,#abf987 82%,#b1ff8e 82%,#a1cb8f 100%); /* IE10+ */
	background: linear-gradient(135deg, #abf987 81%,#abf987 82%,#b1ff8e 82%,#a1cb8f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abf987', endColorstr='#a1cb8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit-blue {
	border:1px solid #C6CBE4;  
	background: #deb5f8; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #deb5f8 81%, #deb5f8 82%, #deb5f8 82%, #bc9ecf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#deb5f8), color-stop(82%,#deb5f8), color-stop(82%,#deb5f8), color-stop(100%,#bc9ecf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #deb5f8 81%,#deb5f8 82%,#deb5f8 82%,#bc9ecf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #deb5f8 81%,#deb5f8 82%,#deb5f8 82%,#bc9ecf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #deb5f8 81%,#deb5f8 82%,#deb5f8 82%,#bc9ecf 100%); /* IE10+ */
	background: linear-gradient(135deg, #deb5f8 81%,#deb5f8 82%,#deb5f8 82%,#bc9ecf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deb5f8', endColorstr='#bc9ecf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {     
	content: "";
	position:absolute;
	z-index:-1;
	right:-0px; bottom:20px;
	width:200px;
	height: 25px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
	-moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postit:hover {
	text-decoration: none;
	color: #3d3d48 !important;
}

.postit-wrapper { display: inline-block; }
.postit-wrapper:nth-child(5n) { transform: rotate(3deg); }
.postit-wrapper:nth-child(5n+1) { transform: rotate(-2deg); }
.postit-wrapper:nth-child(5n+2) { transform: rotate(5deg); }
.postit-wrapper:nth-child(5n+3) { transform: rotate(-1deg); }
.postit-wrapper:nth-child(5n+4) { transform: rotate(2deg); }

.postit-wrapper-checked {
	opacity: 0.4;
}

.postit-wrapper-checked .postit::before {
	content: url('/images/check-sm.png');
	position: absolute;
	top: 20px;
	right: 40px;
	display: block;
	opacity: 0.8;
}

/**********************/
/*    ALBUM PHOTOS    */
/**********************/

#photo-stack-container {
	text-align: center;
}

.photo-stack {
	position: relative; 
	z-index: 10; 
	display: inline-block;
	margin: 20px 20px;
}

.photo-stack > div {
	-moz-box-shadow:    1px 1px 2px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
	box-shadow:         1px 1px 2px rgba(0,0,0,.25);
	padding: 10px;
	background: #fff;
}

.photo-stack img {
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;
	width: 200px;
	height: 200px;
	object-fit: cover;
	overflow: hidden;
}

.photo-stack-title {
	padding-top: 10px;
    font-family: 'Special Elite', cursive;
    white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    color: #000;
}

.photo-stack:hover {
    text-decoration: none;
}

.photo-stack:before,
.photo-stack:after { 
	background: #f3f3f3;
	border: 1px solid #e9e9e9;
	content: ""; 
	width: 100%; 
	height: 100%; 
	z-index: -10;
	position: absolute; 
	-moz-box-shadow:    1px 1px 2px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
	box-shadow:         1px 1px 2px rgba(0,0,0,.25);
	-webkit-transition: transform 500ms, left 500ms, top 500ms;
	transition: transform 500ms, left 500ms, top 500ms;
}

.photo-stack:before { 
	left: -1px;
	top: -1px; 
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.photo-stack:after { 
	left: 5px;
	top: 0; 
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}

.photo-stack:hover:before {
	left: -10px;
	top: -1px; 
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.photo-stack:hover:after {
	left: 10px;
	top: -3px; 
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	transform: rotate(8deg);
}


/**********************/
/*  LISTE DE MARIAGE  */
/**********************/


.wedding-list-item {
	border: 1px solid #aaaaaa;
	padding: 20px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.wedding-list-item .title {
	font-size: 1.3em;
	display: block;
}

.wedding-list-item .amount {
	display: block;
	margin: 15px 0;
	font-size: 1.2em;
}
