{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de mariage de Xavier et Aurélie{% endblock %}

{% block body %}

    <h1>
    	<a href="{{ path('accommodations') }}" title="Revenir à la liste des hébergements">Hébergements</a>
    </h1>

    <h2>
    	Editer la fiche de <em>{{ accommodation.name }}</em>
    </h2>

	<hr>

    {{ form(form) }}

	<a class="btn btn-danger" href="{{ path('accommodation_delete', {'id': accommodation.id}) }}">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;
		Supprimer la fiche de l'hébergement
	</a>
	
{% endblock %}
