{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de mariage de Xavier et Aurélie{% endblock %}

{% block body %}
        <div id="fos-user-container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}