{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Liste de mariage</h1>
            
    {% if texts.legend_wedding_list is defined and texts.legend_wedding_list|trim is not empty %}
        <p>{{ texts.legend_wedding_list|markdown }}</p>
    {% endif %}

    <hr>

    {% include 'wedding_list/_classic_content.html.twig' %}

{% endblock %}
