{% extends 'base.html.twig' %}

{% block body %}

    <h1>
    	<a href="{{ path('wedding_list') }}" title="Revenir à la liste">Liste de mariage</a>
		<span style="font-size: 0.9em;">
			<span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
	    	<a href="{{ path('wedding_list_admin') }}">Gérer la liste</a>
			<span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
	    	Modifier un élément
    	</span>
    </h1>

	<br><br>

    {% include 'wedding_list/_item_form.html.twig' with {'form': form} only %}
	
{% endblock %}
