{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        <a href="{{ path('wedding_list') }}" title="Revenir à la liste">Liste de mariage</a>
        <span style="font-size: 0.9em;">
            <span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
            Participation enregistrée
        </span>
    </h1>

    <br>

    <h1 class="text-center">Merci !</h3>

{% endblock %}
