{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        <a href="{{ path('wedding_list') }}" title="Revenir à la liste">Liste de mariage</a>
        <span style="font-size: 0.9em;">
            <span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
            Participation enregistrée
        </span>
    </h1>

    <br>

    <h1 class="text-center">Merci !</h3>

    {% if gift.onlinePayment %}
		<div class="text-center">
			Vous allez être redirigé dans un instant vers la page de notre agence de voyage.
		</div>
    {% endif %}

{% endblock %}


{% block javascripts %}
	{{ parent() }}
    {% if gift.onlinePayment %}
		<script type="text/javascript">
			window.setTimeout(function(){
		        window.location.href = "{{ wedding_pot_url|e }}";
		    }, 8000);
		</script>
    {% endif %}
{% endblock %}