{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site de mariage de Xavier et Aurélie{% endblock %}

{% block body %}
    <h1>Galerie de photos</h1>
	
	{% for photo in gallery.photos %}
		<a href="{{ path('homepage') }}">{{ photo.id }}</a>
	{% endfor %}
{% endblock %}
