{% extends 'base.html.twig' %}

{% block body %}

	{% if is_granted('ROLE_ADMIN') %}
		<div class="dropdown pull-right">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
				<li><a href="{{ path('article_new') }}">Ajouter un article</a></li>
			</ul>
		</div>
	{% endif %}
	
    <h1>Blog</h1>
    
    {% if texts.legend_blog is defined and texts.legend_blog|trim is not empty %}
		<p>{{ texts.legend_blog|markdown }}</p>
    {% endif %}
	
	<br>
	
	{% for article in articles %}
		{% include 'blog/_article_preview.html.twig' with {'article': article} only %}
	{% else %}
		Aucun article pour le moment.
	{% endfor %}
{% endblock %}
