{% extends 'base.html.twig' %}

{% block body %}
    <h1>
    	<a href="{{ path('carpool') }}" title="Revenir à la liste des annonces">Co-voiturage</a>
		<span style="font-size: 0.9em;">
			<span class="glyphicon glyphicon-chevron-right" style="font-size: 0.7em;" aria-hidden="true"></span>&nbsp;
	    	<a href="{{ path('carpool_proposal_show', {'id': carpool.id}) }}" title="Revenir à l'annonce">Annonce de {{ carpool.author }}</a>
	    </span>
    </h1>

    <h2>Répondre à la proposition de trajet</h2>

	<br>

    {{ form(form) }}
{% endblock %}
