{% extends 'base.html.twig' %}

{% block body %}
    <h1>
    	<a href="{{ path('carpool') }}" title="Revenir à la liste des annonces">Co-voiturage</a>
    </h1>

    <h2>Publier une annonce de proposition de trajet</h2>

	<br>

    {{ form(form) }}
{% endblock %}
