<h3>Votre annonce a bien été publiée !</h3>

{% if type == 'search' %}
	Vous recevrez à cette adresse toutes les réponses à votre annonce.
	Pour accepter ou refuser une proposition et pour consulter l'ensemble des réponses, <a href="{{ path('carpool_search_manage', {'id': carpool.id}) }}">cliquez ici</a>.
{% else %}
	Vous recevrez à cette adresse toutes les réponses à votre annonce.
	Pour accepter ou refuser une demande et pour consulter l'ensemble des réponses, <a href="{{ path('carpool_proposal_manage', {'id': carpool.id}) }}">cliquez ici</a>.
{% endif %}
